############################
# Python
############################
__pycache__/
*.pyc
*.pyo

############################
# Virtual environment
############################
venv/
.env/

############################
# MLflow
############################
mlruns/
mlflow.db

############################
# DVC
############################
.dvc/cache/
.dvc/tmp/
.dvc/config.local

############################
# Secrets / credentials
############################
*.json
!*.dvc

############################
# OS files
############################
.DS_Store
Thumbs.db
/data
